name: Run Pytest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with pytest
        run: pytest -v

      - name: 'BrowserStack Build Report'
        uses: 'browserstack/github-actions/browserstack-report-action@master'
        with:
          username: $
          access-key: $
          build-name: BUILD_INFO
          report-timeout: 2000 # This is an optional parameter
